*{
  width: 1000px;
  margin: auto;
  background-color: #121212;
  color: white;
}
input{ 
  border-radius: 10px;
  background-color: #3b3b3b;
}

button{
  border-radius: 10px;
  background-color: #ffd000;
  color: black;
  height: 3em;
}

div{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.Navbar{
  margin:auto;
}
.Navbar ul{
  padding-left:0;
  list-style: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 300px;
}
.Navbar li{
  align-items: center;
  justify-content: center;
  width: 300px;
}

.ItemList{
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.ItemList button{
  width: 50%;
  height: 2em;
}

.Item{
  border-radius: 15px;
  padding: 15px;
  background-color: rgb(48, 33, 0);
  width: 50%;
  display:flex;
  flex-wrap: wrap;
}

.Item a{
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #3b3b3b;
  width: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
